.footer {

  background: $light-charcoal;
  font-family: $source-sans-font-family;
  padding-top: 3em;
  padding-left: 5.4em;
  padding-right: 2.5em;
  padding-bottom: 3.5em;

  .footer-links {
    @include outer-container;
    max-width: none;
    @include justify-content(left);
  }

  ul {
    @include span-columns(12);
    padding: 0;
    @include media ($large-screen) {
      @include span-columns(2);
    }
  }

  .copyright {
    @include omega();
    @include media ($large-screen) {
      @include span-columns(6);
    }
    > li {
      color: $grey;
      font-size: 1.3em;
      float: left;
      @include media ($large-screen) {
        float: right;
      }
    }
  }

  li {
    list-style: none;
    text-align: left;
    font-size: 1.3em;
  }

  li > a {
    color: $grey;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $hover-color;
    }
  }

  li > .footer-title {
    color: $navigation-text-head-color;
    font-size: 1.1em;
    margin-bottom: .8em;
    text-transform: uppercase;
    font-weight: $normal-weight;
  }  
}

