.content.title-content {
  padding-top: 0.5em;
  padding-bottom: 4em;
  .title {
    font-size: 3.8em;
    margin: .3em 0 0 0;
    line-height: 1em;
    padding-left: 1em;
  }
  .subtitle {
    color: $light-charcoal;
    font-family: $noto-sans-font-family;
    font-size: 1.7em;
    font-weight: $normal-weight;
    padding-left: 2.5em;
  }
}

.mosaic-backdrop {
  line-height: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  ul {
    width: 125%;
    overflow: hidden;
    height: 200px;

  li {
    float: left;
    width: 100px;

    img {
      border: none;
      height: none;
      left: 0; 
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  }
  .copy {
    z-index: 999;
  }

  .overlay {
    @include linear-gradient(to bottom, rgba(0,0,0,0), white) 
    display: block;
    @include position(absolute, 40px 0px 0px 0px);
  }
}

.getting-started {
  @include span-columns(4);
  padding-left: 4.1em;
  padding-right: 5em;
}

.examples {
  @include span-columns(6);
  padding-left: 4.1em;
  padding-right: 5.5em;
}

.value-prop {
  margin-top: 6.5em;
  margin-bottom: 2.5em;
  
  padding-left: 4em;
  padding-right: 5.5em;
  .lead {
    color: $pink;
    font-size: 2.5em;
  }
}
