.content.title-content {
  padding-top: 0.5em;
  padding-bottom: 2.5em;
  margin-bottom: 0;
  .title {
    margin: 0.5em 0 0 0;
    line-height: 1em;
    padding: 0;
  }
  .subtitle {
    color: $light-charcoal;
    font-family: $noto-sans-font-family;
    font-weight: $normal-weight;
  }
}

.mosaic-backdrop {
  line-height: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 125%;
    overflow: hidden;
    height: 75px;

  li {
    float: left;
    width: 100px;

    img {
      border: none;
      height: auto;
      left: 0; 
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  }
  .copy {
    z-index: 999;
  }

  .overlay {
    @include linear-gradient(to bottom, rgba(0,0,0,0), white) 
    display: block;
    @include position(absolute, 40px 0px 0px 0px);
  }
}

.getting-started {
  @include span-columns(4);
  padding-right: 1em;
}

.examples {
  @include span-columns(6);
  padding-right: 2em;
}

.value-prop {
  .lead {
    color: $seagreen;
    font-size: 1em * (22/14)
  }
  &:first-child {
    padding-top: 1.5em;
  }
  &:last-child {
    padding-bottom: 1.3em;
  }
}
