.title {
  color: $seagreen;
  font-family: $noto-sans-font-family;
  font-weight: $normal-weight;
  font-size: 1em * (34/14);
}

.section {
  .content {
    @extend .wrapper;
    @include media ($large-screen) {
      padding: 0.5em $left-align 2em $left-align;
    }
    padding: 0.5em $left-align-narrow 2em $left-align-narrow;

    p {
      margin: 1em 0;
      line-height: 1.4em;  
    }
    p + ul {
      margin-top: -0.5em;
    }
    li {
    list-style-type: disc;
    list-style-position: inherit;
    }
  }
  h1 {
    @extend .title;
  }
  h3 {
    text-transform: uppercase;
    color: $sushi;
    font-family: $source-sans-font-family;
    font-weight: $source-sans-bold-font-weight;
    font-size: 1em * (18/14);

  }
  h4 {
    font-size: 1em * (16/14);
  }
  .small-title-with-sub {
    .sub {
      font-weight: $normal-weight;
      text-transform: none;
      float: right;
      font-size: $base-font-size;
    } 
  }
  img {
    @include border-color($charcoal);
    @include border-style(solid);
    @include border-width(1px);
  }
  .caption {
    margin-top: 0.25em;
    font-family: $source-sans-font-family;
    font-weight: $normal-weight;
  } 

  &.dark {
    background-color: $medium-grey;
  }
  &.light {
    h3 {
      margin-bottom: 1.5em;
    }
  }
}
